<a href="https://colab.research.google.com/github/Angel-JDG/DataScienceCurse/blob/main/GoogleColabNotebook1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Clase Modulo 1 - Python para data Science

En este modulo vamos a ver:

* Introducción al notebook de Google Colaboratory.
* Introducción al lenguaje de programación Python.

In [ ]:
print("Hola Hundo")

### Desafio Modulo 1 - sección 8

In [ ]:
# Desafio #1
print("Escuela de Datos de Alura.")

Escuela de Datos de Alura.

In [ ]:
#Desafio #2
Nombre = "Angel"
Apellido = "Delgado"

print (f"Mi nombre es {Nombre} {Apellido}")

Mi nombre es Angel Delgado

In [ ]:
#Desafio #3
Nombre = "Pedro"
for a in Nombre:
  print (a)

P
e
d
r
o

In [ ]:
#Desafio #4
Mes = "Abril"
Año = 2025
Dia = 4
print (f"{Dia} {Mes} del {Año}")

4 Abril del 2025

In [ ]:
#Desafio #5
Año = 2025
print(f"Año Actual: {Año}")

Año Actual: 2025

## Clase Modulo 2 - Python para Data Science

En este modulo vamos a ver:
*   variables y tipos de variables.
*   Manipulacions de datos.

### Variables
Las variables en python al igual que en algebra son "objetos" a los que les ponemos un "nombre" y les asignamos un valor por ejemplo:


*   En Algebra:
  * x + 3 cuando x = 2 (en este caso estamos asigando el valor de 2 a la X que seria nuestra variable)
      * el resultado seria *5*

* En programación:
  * Nombre = Juan ('Nombre' seria nuestra variable y 'Juan' nuestro valor asignado)
  * Print("Hola "Nombre)
    * el output seria "Hola Juan"

### Tipos de variables
hay 4 tipos de variables principalmente:


*   Variable tipo entero: int (las variables tipo entero son numeros enteros es decir sin puntos decimales, como por ejemplo 2, 3, 4, 5... )
*   Variable tipo float: float (las variables de este tipo permiten numeros decimales, por ejemplo, 2.3, 4.5, 6.4...)
*   Variable tipo texto: str (las variables de tipo texto corresponden al sistema ACSII de texto como por ejemplo 'Nombre', 'Perro' Y 'gato', estas son cadenas de texto ya que estan formadas por varios caracteres)
*   Variable tipo boleanos: bool (este tipo de variable solo tiene 2 estados posibles TRUE o FALSE)

**Ejemplo en clases:**

In [3]:
# Tranformar la ficha de un alumno en variables
Nombre_estudiante = "Penélope"
Edad_estudiante = 21
Promedio_Estudiante = 9.7
Aprobado = True
print(Nombre_estudiante, Edad_estudiante, Promedio_Estudiante, Aprobado)
print(type(Nombre_estudiante), type(Edad_estudiante), type(Promedio_Estudiante), type(Aprobado))

Penélope 21 9.7 True
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

####Variables Numericas
Enfoque en variables de tipo **float** e **int**.

* Datos:
  * Vigilante: Cantidad 5, Salario 300.
  * Docente: Cantidad 16, Salario 500.
  * Coordinador: Cantidad 2, Salario 600.






Casos de uso:
*   Cantidad total de empleados.
*   Diferencia entre el salario más alto y más bajo.
*   Promedio ponderado de los salarios.

Ejemplo en clase:

In [9]:
Cantidad_vigilante = 5
Salario_vigilante = 300

Cantidad_docente = 16
Salario_docente = 500

Cantidad_coordinador = 2
Salario_coordinador = 600

Total_empleados = Cantidad_vigilante + Cantidad_coordinador + Cantidad_docente
Total_empleados

Diferencia_salario = Cantidad_coordinador - Cantidad_vigilante
Diferencia_salario

Promedio_salario = (Salario_coordinador*Cantidad_coordinador + Salario_docente*Cantidad_docente + Salario_vigilante*Cantidad_vigilante)/Total_empleados
Promedio_salario

465.2173913043478

####Variables de texto
Enfoque en variables de tipo texto **String**.

las variables de tipo texto pueden estr envueltas en comillas simples ( ' ) o comillas dobles ( " ).
```
t = "Alura"
type (t) --> string
```
las variables textuales son objetos que poseen metodos que nos ayudan a formatear strings. los metodos los podemos ejecutar acorde a la siguiente estructura:

objeto.metodo()

los parentesis no siempre van con todo los metodos, por eso se debe verificar en la documentación.

**Ejemplo en clase:**

se recibe una variable con un nombre para insertar a un registro, pero antes se debe pasar por un tratamiento al texto antes de insertarlo al sistema.

In [33]:
texto = " Micaela de los Sanyos"
id(texto)

135539513026368

el objetivo final es el siguiente: 'MICAELA DE LOS SANTOS'

In [34]:
# utilizamos metodo upper para convertir a mayusculas toda la cadena de texto
texto.upper()

' MICAELA DE LOS SANYOS'

In [35]:
# utilizamos metodo lower para convertir a minusculas toda la cadena de texto
texto.lower()

' micaela de los sanyos'

In [36]:
# utilizamos metodo strip para eliminar espacios en blanco al principio o final de un string
texto.strip()

'Micaela de los Sanyos'

In [37]:
# utilizamos metodo replace para editar/cambiar un elemento del contenido
texto.replace('y', 't')

' Micaela de los Santos'

In [44]:
# se pueden usar varios metodos al mismo tiempo y la variable debe ser guardada:
nuevo_texto= texto.strip().upper().replace('y', 't')
print(nuevo_texto)
# al ser variables diferentes no se almacenan en el mismo espacio de memoria
print(id(texto), id(nuevo_texto))

MICAELA DE LOS SANYOS
135539513040032 135539513017008

In [45]:
texto= texto.strip().upper().replace('y', 't')
print(texto)
print(id(texto), id(nuevo_texto))

MICAELA DE LOS SANYOS
135539511017520 135539513017008

#### Colección de datos