<a href="https://colab.research.google.com/github/Angel-JDG/DataScienceCurse/blob/main/GoogleColabNotebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Clase Modulo 1 - Python para data Science

En este modulo vamos a ver:

* Introducción al notebook de Google Colaboratory.
* Introducción al lenguaje de programación Python.

In [ ]:
print("Hola Hundo")

### Desafio Modulo 1 - sección 8

In [ ]:
# Desafio #1
print("Escuela de Datos de Alura.")

Escuela de Datos de Alura.

In [ ]:
#Desafio #2
Nombre = "Angel"
Apellido = "Delgado"

print (f"Mi nombre es {Nombre} {Apellido}")

Mi nombre es Angel Delgado

In [ ]:
#Desafio #3
Nombre = "Pedro"
for a in Nombre:
  print (a)

P
e
d
r
o

In [ ]:
#Desafio #4
Mes = "Abril"
Año = 2025
Dia = 4
print (f"{Dia} {Mes} del {Año}")

4 Abril del 2025

In [ ]:
#Desafio #5
Año = 2025
print(f"Año Actual: {Año}")

Año Actual: 2025

## Clase Modulo 2 - Python para Data Science

En este modulo vamos a ver:
*   variables y tipos de variables.
*   Manipulacions de datos.

### Variables
Las variables en python al igual que en algebra son "objetos" a los que les ponemos un "nombre" y les asignamos un valor por ejemplo:


*   En Algebra:
  * x + 3 cuando x = 2 (en este caso estamos asigando el valor de 2 a la X que seria nuestra variable)
      * el resultado seria *5*

* En programación:
  * Nombre = Juan ('Nombre' seria nuestra variable y 'Juan' nuestro valor asignado)
  * Print("Hola "Nombre)
    * el output seria "Hola Juan"

### Tipos de variables
hay 4 tipos de variables principalmente:


*   Variable tipo entero: int (las variables tipo entero son numeros enteros es decir sin puntos decimales, como por ejemplo 2, 3, 4, 5... )
*   Variable tipo float: float (las variables de este tipo permiten numeros decimales, por ejemplo, 2.3, 4.5, 6.4...)
*   Variable tipo texto: str (las variables de tipo texto corresponden al sistema ACSII de texto como por ejemplo 'Nombre', 'Perro' Y 'gato', estas son cadenas de texto ya que estan formadas por varios caracteres)
*   Variable tipo boleanos: bool (este tipo de variable solo tiene 2 estados posibles TRUE o FALSE)